html, body {
    height: 100vh;
}

body {
    background: #FDFFFC;
}

.front {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

/* credit: http://fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property */
.front::before {
    content: ' ';
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: url('skyline_web.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    will-change: transform;
    z-index: -1;
    transition: 0.5s;
}

.indexcard {
    height: 80vh;
    width: 75vw;
    /*
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.2), -4px 0px 4px 0px rgba(0,0,0,0.2);
    */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255,255,255,0.8);
}

.indexcard img{

    height: 30%;
    width: auto;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    /*
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    */
}

.indexcard h1{
    text-align: center;
}

.education {
    height: 100vh;
    background-color: blue;
}

@media(max-width:768px) {

}