body {
    background: #FDFFFC;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 60%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 60%;
    width: 0px;
    height: 100%;
    margin-left: -60%;
    overflow-y: auto;
    background: #1F487E;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper img{
    width: 70%;
    height: auto;

    margin-top: 15%;
    margin-bottom: 15%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 60%;
}

#wrapper.toggled #sidebar-wrapper img{
    width: 70%;
    height: auto;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -60%;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 30%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 30%;
    }

    #wrapper.toggled {
        padding-left: 10%;
    }

    #sidebar-wrapper {
        width: 30%;
    }

    #sidebar-wrapper img {
        width: 70%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 10%;
    }

    #wrapper.toggled #sidebar-wrapper img {
        width: 70%;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}